/* Elements */
:root{
    font-family: 'Inter', sans-serif;
    font-size:6vw;
    color: var(--black);

    --black:#262626;
    --gray: #747C92;
    --lightGray: #F6F6F6;
    --lightBlue: #BBE7E3;
    --drakGreen:#007B68;
    --red:#E3170A;
}
body{
    margin:0;
    width: 100vw;
    height: 100vh;
}
input{
    border: none;
    outline: none;
    background-color: transparent;

    width: 75vw;
    height: 6vh;
    margin-top:1vh;

    border-bottom: 2px solid var(--gray);

    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}
::placeholder{
    color: var(--gray);
    letter-spacing: 0.1em;
}
small{
    font-size: 0.6rem;
    margin:0;
}
textarea:focus{
    outline: none;
}


/* App */
.App{
    width: 100vw;
    height: 100vh;
}


/* Logo */
.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}
.bigLogo, .smallBack > *{
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.3));
    color: transparent;

    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}
.bigLogo{
    font-size: 2.5rem;
    
    background-position: 0% 60%;
    
    background-image: url("./images/logoBackground.jpg");
    width: 100vw;
}
.smallBack{
    width: 15vw;
    height: 15vw;
    min-width: 30px;
    min-height: 30px;

    background-color: #F6F6F6;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.3));

    position: absolute;
    top: 4vh;
    left: 4vh;
}
.smallBack > *{
    background-repeat: no-repeat;
    background-size:cover;
    font-size:max(1.7rem, 30px);
    background-image: url("./images/SmallC.jpg");
    background-position: -5px -4px;

    width: inherit;
    height: inherit;
}
#introLogo{
    position: relative;
    top:-40vh;
}


/* Indroduction */
#intro{
    width: 100vw;
    height: 100vh;

    justify-content: flex-end;
}
#btnLogin, #btnRegister{
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    filter: drop-shadow(0px -4px 6px rgba(0, 0, 0, 0.25));

    border: none;
    border-radius: 4.5vh;

    width: 100vw;
}
#btnLogin{
    background-color:var(--lightBlue);
    height: 16vh;

    position: relative;
    top:6.5vh;
}
#btnRegister{
    background-color: #007B68;
    height: 13vh;

    border-radius: 4.5vh 4.5vh 0 0;
}
#btnLogin > p{
    position: relative;
    top:-3vh;
}


/* Login */
#login{
    font-family: 'Poppins', sans-serif;

    justify-content: space-between;

    height: 70vh;
}
.info{
    color:var(--gray);
    font-size: 0.8rem;

}
.continue{
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: 0.9rem;
    font-family: inherit;
    
    margin-top: 7vh;

    background-color: transparent;
    border:none;
}


/* Register */
#register{
    font-family: 'Poppins', sans-serif;

    justify-content: flex-end;

    height: 100vh;
}
#serverMessage{
    color: var(--red);
    font-size: 0.8rem;
    font-weight: 500;
}
#displayImage{
    width: 45vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background-color: var(--lightGray);

    background-position: center;
    background-size: cover;
}
.imageUpload{
    border: none;
    font-size: 0.5rem;
    width: 21vw;

    margin-top: 1vh;
}
.imageUpload::file-selector-button{
    border:none;
    background-color: var(--black);
    padding: 2vw;
    border-radius: 2vw;

    color: white;
    font-family: inherit;
}


/* Contact */
.contact{
    font-family: 'Inter', sans-serif;
    
    width:inherit;
    padding:2vh 0;
    border-bottom:2px solid #ECECEC;

    justify-content: flex-start !important;
}
.recipientWrap{
    width: 100%;
}
.nameRow{
    justify-content: space-between !important;
    
    height: 5vh;

    color: var(--gray);
    font-size: 0.7rem;
    font-weight: 400;
}
.lastMessage{
    color: var(--gray);
    font-size: 0.65rem;
    font-weight: 400;

    margin:0;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.contactName{
    color: var(--black);
    font-size: 0.8rem;
    font-weight: 500;
}
.contactName ~ p{
    font-size: 0.65rem;
    font-weight: 400;
}
.recipientImage{
    min-width:12vw;
    aspect-ratio: 1 / 1;
    margin-right: 3vw;

    border-radius: 50%;
    border: 2px solid #ECECEC;

    background-image: url("./images/user\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Home */
#home{
    height: 100vh;
    overflow: hidden;
    justify-content: flex-start;
}
.titleWrapper{
    justify-self: flex-start;
}
.homeTitle{
    height: 9vh;

    font-size: 1.1rem !important;
}
.contactList{
    width: 85vw;
    height:73vh;
    margin-top: 2vh;

    overflow-y: scroll;
    overflow-x: hidden;

    justify-content: flex-start !important;
}


/* Footer */
#darkLine, #lightLine{
    width: 100vw;
    height: 1.2vh;

    filter: drop-shadow(0 -2px 5px #868686ad);
    z-index: 1;
}
#lightLine{
    background-color: var(--lightBlue);
}
#darkLine{
    background-color: var(--drakGreen);
}
.footerButtons{
    justify-content: space-around !important;
    z-index: 2;

    position: relative;
    top:4vh;
}
.footerButtons > div {
    width: 17vw;
    aspect-ratio: 1 / 0.7;
    border-radius: 6vw;

    background-color: var(--lightGray);

    box-shadow: 0px 3px 2px rgba(100, 100, 100, 0.25);
}


/* Chat */
.chat{
    width: 100vw;
    height: 100vh;

    justify-content: flex-start !important;
}
.messagesContainer{
    width: inherit;
    height: 80vh;
    width: 80vw;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
}
.myMessage{
    align-self: flex-end !important;
}
.top{
    width: 100vw;
    height: 10vh;

    box-shadow: 0 4px 4px #00000015;
    z-index: 1;

    justify-content: space-evenly !important;
}
#back{
    width:32px;
    height:32px;

    background-image: url("../public/images/back.png");
}


/* Message */
.message{
    background-color: var(--lightGray);

    height: fit-content;
    padding: 4vw 5vw;
    padding-bottom: 2vw;
    min-width:10vw;
    max-width: 60vw;
    width: fit-content;
    margin-top: 1vh;

    border-radius: 6vw;

    font-size: 0.75rem;
}
.messageContent{
    margin: 0;
    font-weight: 400;
}
.time{
    font-size: 0.7rem;
    color: var(--gray);

    margin: 0;

    justify-content: flex-end !important;
}


/* keyboard */
.keyboardLine textarea{
    font-family: inherit;
    background-color: var(--lightGray);
    border-radius: 8vw;
    width:60%;
    height: 90%;
    min-height: 80%;
    max-height: 15vh;
    padding:0 5%;

    margin: 0;
    resize: none;

    border:none;

    overflow-y: scroll;
}
.keyboardLine button{
    background-color: var(--lightGray);
    border-radius: 50%;
    
    height: 100%;
    aspect-ratio: 1 / 1;

    border: none;

    background-image: url("./images/send.png");
    background-repeat: no-repeat;
    background-position: center;
}
.keyboardLine, footer{
    width: 100vw;
    height: 15vh;

    position: absolute;
    top:85vh;
}
.keyWraper{
    height: 40%;
    position: relative;
    top:4vh;

    z-index: 1;

    justify-content: space-around !important;
}
.keyWraper *{
    filter:drop-shadow(0 2px 2px #00000025)
}


/* Edit Profile */
.editProfile{
    width: 100vw;
    height: 80vh;
    justify-content: space-around !important;
}
.editProfile  button{
    width:35vw;
    aspect-ratio: 1 / 0.5;

    font-family: inherit;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
.buttons{
    width: 100vw;
    justify-content: space-evenly !important;
}
.apply{
    background-color: var(--black);
    color:white;
}
.discard{
    background-color: white;
    border:2px solid var(--black) !important;
}


/* success */
.success{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #26262661;
}
.check{
    width: 20vw;
    animation-name: tap;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes tap{
    0%{
        width: 20vw;
    }
    30%{
        width: 40vw;
    }
    80%{
        width: 15vw;
    }
    100%{
        width:20vw;
    }
}


/* Side Classes */
.flexRow {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexCol {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    color: var(--black);
    font-size: 0.8rem;
    width: 90vw;

    text-align: center;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2em;
}
.backArrow{
    position: absolute;
    top: 4vh;
    right: 4vh;
}